strong {
    font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1Sem;
}

.sign-out {
    cursor: pointer;
    text-decoration: underline;
}

.user-info {
  vertical-align: middle;
  float: right;
  color: white;
}

.g-signin2 {
  float:right;
  vertical-align: middle;
}

.logo {
	width: 66px;
	height: 57px;
}

.navbar {
  font-family: 'Bungee', cursive;
}

.results-table {
	border: 1px solid #666;
}

.results-table > thead > tr > th {
	background-color: #666;
	color: #fff;
	font-weight: bold;
}

#rsvpModal h4 {
	font-weight: bold;
	margin-bottom: 6px;
}

#userDetails,
#showDetails {
	margin-bottom: 1em;
}

#messageText {
	height: 130px;
}

.user-photo {
    margin: 0 0 20px 20px;
}

.eventTitle,
.eventLineup {
    width: 250px;
}

.eventDateTime {
    width: 200px;
}

@media screen and (max-width: 767px) {
    .alt-table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #dddddd;
      -webkit-overflow-scrolling: touch;
    }
}