body {
	background-color: #dbe5ec;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    padding-top: 70px;
}

a {
    text-decoration: underline;
}

.container {
    max-width: 1040px;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

strong {
    font-weight: bold;
}

em {
	font-style: italic;
}

h1 {
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

.home-search {
    text-align: center;

}

.home-search p {
    font-size: 20px;
    margin-bottom: 20px;
}

.search-input {
    font-size: 20px !important;
    padding: 20px 15px !important;
}

.sub-search {
    padding-bottom: 20px;
    float: right;
}

.sub-search-input {
    font-size: 16px !important;
    padding: 18px 15px !important;
}

.btn-home-search {
    font-size: 1.5em;
}

.searching {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.75;
    margin-top: 30px;
}
.sign-out {
    cursor: pointer;
    text-decoration: underline;
}

.user-info {
  vertical-align: middle;
  float: right;
  color: white;
  font-family: 'Roboto';

}

.g-signin2 {
  float:right;
  vertical-align: middle;
}

.logo {
	width: 66px;
	height: 57px;
}

.navbar {
  font-family: 'Bungee', cursive;
}

.footer-image {
    height: 40px;
    width: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.results-table {
	border: 1px solid #41494e;
}

.results-table > thead > tr > th {
	background-color: #41494e;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #41494e;
}

.main-image {
    margin: 0 auto 20px auto;
    display: block;
}

.btn-home,
.btn-sub {
    background: #7f8e99;
    background-image: linear-gradient(to bottom, #7f8e99, #637079);
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border: solid #41494e 1px;
    text-decoration: none;
}

.btn-sub {
    font-size: 16px;
    padding: 7px 10px;
}
  
.btn-home:hover,
.btn-sub:hover {
    background: #7fa0b8;
    background-image: linear-gradient(to bottom, #7fa0b8, #5d8099);
}

.btn-rsvp {
    background: #7fa0b8;
    background-image: linear-gradient(to bottom, #7fa0b8, #5d8099);
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 10px;
    border: solid #41494e 1px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-rsvp:hover {
    background: #6a879b;
    background-image: linear-gradient(to bottom, #6a879b, #4c687c);
}

#rsvpModal h4 {
	font-weight: bold;
	margin-bottom: 6px;
}

#userDetails,
#showDetails {
	margin-bottom: 1em;
}

#messageText {
	height: 130px;
}

.user-photo {
    margin: 0 0 20px 20px;
}

.eventTitle,
.eventLineup {
    width: 250px;
}

.eventDateTime {
    width: 200px;
}

.ql-container {
    font-size: 16px;
}

.panel-event {
    border: 1px solid #41494e;
}

.panel-event > .panel-heading {
    background-color: #41494e;
}

.panel-event > .panel-heading > .panel-title {
    color: #ffffff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.panel-event > .panel-body {
    background-color: #f5f5f5;
}
.event-details > h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

div.performers {
    margin: 0 auto;
    width: 75%;    
}

.event-details {
    padding: 15px !important;
}

.event-rsvps {
    background-color: #a1b8c7;
    min-height: 260px;
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

#rsvpModal  h4 {
    margin-bottom: 0;
}

#venueLoading {
    padding: 30px 0;
    text-align:center;
}

.rsvp-row > .col-md-12 > ul { 
    list-style-type: disc; 
    list-style-position: inside; 
}

.rsvp-row > .col-md-12 > ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
}

.rsvp-row > .col-md-12 > blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #41494e;
}

.indent-1 {
    margin-left: 15px;
}

.indent-2 {
    margin-left: 30px;
}

.panel-body {
    padding: 0 !important;
}

.blue {
    color: #0000ff;
}

.red {
    color: #ff0000;
}

.rsvp-row {
    margin-bottom: 15px;
}

.rsvp-row > .col-md-12 {
    padding:  0 30px;
}

div.event-rsvps > .rsvp-row:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-top: 2px solid #899ca8;
}

div.event-rsvps > .rsvp-row:first-of-type:before {
    border-top: none;
}

div.event-rsvps > h3 {
    background-color: #4c687c;
    color: #ffffff;
    margin-bottom: 0;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.5em;
}

#userPhotoFigure > figcaption {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

#userPhotoFigure > img {
    border: 1px solid #000;
    border-radius: 50%;
}

.rsvp-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 0 15px 15px;
}

#addToCalendarLink {
    cursor: pointer;
    padding-top: 5px;
}

footer {
    background-color: black;
    padding: 10px 0;
}

@media screen and (max-width: 767px) {
    .alt-table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #dddddd;
      -webkit-overflow-scrolling: touch;
    }

    .sub-search {
        float: none;
    }
}